// font-family: 'Barlow', sans-serif;
// font-family: 'Fraunces', serif;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
}
img{
  width: 100%;
}
p{
  font-size: 18px;
}
p,a,h6{
  font-family: 'Barlow', sans-serif;
}
button:hover,button:focus{
  transform: scale(0.8);
  opacity: 20%;
}
a:hover,a:focus{
  transform: scale(0.8);
  opacity: 80%;
}
@mixin flexCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ======================================================================
 The main css changes to the navigation panel and section of the web site
 ======================================================================== */
#mainnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:   #2cc1ff;
  padding: 2em 1.5em;
  section{
    width: 50%;
  }
  button{
    width: 10%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
  }
}
/* ======================================================================
 The main css changes to the header section of the web site
 ======================================================================== */
 header{
   background-color: #2cc1ff;
   background: linear-gradient(#29b6f1 3%, #2cc1ff 10%);
   text-align: center;
   background-image: url('./images/mobile/image-header.jpg');
   background-position: 50% 100%;
   background-repeat: no-repeat;
   background-size: cover;
   @include flexCentered();
   h1{
     margin: .5em 0 .3em;
     padding: 1em 0;
     color: #fff;
     letter-spacing: 7px;
     font-size: Min(10vw, 3rem);
   }
   #headerArrowImage{
     width: 10%;
     margin-bottom: 40%;
   }
 }
 /* ======================================================================
 The main css changes to the main section of the web site
 ======================================================================== */
 main{
   .articlesWithLinks{
     display: flex;
     flex-direction: column;
   }
   .articlesWithLinks--text{
     @include flexCentered();
     text-align: center;
     padding: 2em 1.5em;
     h2{
       color: #23303e;
       font-size: 2rem;
       margin: 1em .5em;
     }
     p{
       color: #818498;
       font-size: 1rem;
       line-height: 1.5;
     }
     a{
       text-decoration: none;
       color: #23303e;
       font-family: 'Fraunces', serif;
       transition: .5s;
       margin: 2em 0;
       border-bottom: solid 5px #fad400;
       border-radius: 5px;
     }
   }
 }